html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
}

h1{
    margin: 0;
}

@font-face{
    font-family: 'OTF';
    src: url("../fonts/OTF_Glusp.woff2") format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Monument-Regular';
    src: url("../fonts/MonumentExtendedRegular.woff2") format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Monument-Ultrabold';
    src: url("../fonts/MonumentExtendedUltrabold.woff2") format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

body{
    font-family: "Monument-Regular";
    color: var(--color-white);
    background-color: var(--color-black);
}

:root{
    --color-black: #000000;
    --color-white: #ffffff;
    --color-perple: #7843e8;
    --color-yellow: #fff253;
    --color-grey: #454545;
}

.btn{
    border-radius: 120px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    border: 1px solid var(--color-black);
}

.btn__reset{
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}
.list__reset{
    padding: 0;
    margin: 0;
    list-style: none;
}

.header{
    height: 77px;
}

.conteiner{
    max-width: 100vw;
    padding: 0;
    margin: 0;
}

.container__header{
    height: 100%;
}

.header__nav{
    height: 100%;


    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--color-white) solid;
    border-width: 0 0 1px 0;
}



.logo{
    height: 100%;
    padding: 0 60px 0 40px;
    margin: 0;

    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    border: var(--color-white) solid;
    border-width: 0 1px 0 0;

    cursor: pointer;
}

.nav__menu{
    display: flex;
    column-gap: 54px;
}

.nav__link{}

.nav__elem{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.nav__btn{
    width: 213px;
    height: 41px;
    margin-right: 40px;

    box-shadow: 4px 4px 0px var(--color-perple);

    background-color: var(--color-white);
    transition: background-color 0.3s;
}

.nav__btn:hover{
    background-color: var(--color-yellow);
}

.main{}

.hero{
    position: relative;
}

.conteiner__hero{
    display: flex;
}

.hero__blok{
    width: 50%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__blok:first-child{
    border: var(--color-white) solid;
    border-width: 0 1px 0 0;

}

.hero__title{
    margin: 0 0 46px 0;
    text-align: center;
    font-family: 'OTF® Glusp';
    font-weight: 700;
    font-size: 6em;
    line-height: 108px;
}


.hero__text{
    max-width: 706px;
    margin: 0 56px 0 34px;
    color: #A3A3A3;
    font-family: "Monument-Ultrabold";
    font-weight: 800;
    font-size: 1.25em;
    line-height: 28px;
}

.hero__circle{
    position: relative;

    width: 636px;
    height: 636px;
    margin: 17px;
    border-radius: 50%;
    overflow: hidden;
}

.hero__pos{
    position: absolute;
    top: 0;
    left: -25%;

    display: grid;
    grid-template: 1fr 1fr;
    row-gap: 15px;

    animation: 7s infinite 1s rotation;
}

@keyframes rotation{
    10%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(90deg);
    }

    35%{
        transform: rotate(90deg);
    }

    50%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(180deg);
    }

    75%{
        transform: rotate(270deg);
    }
    85%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.text__row{
    grid-column: 1/3;
}

.hero-circle__text{
    text-align: center;
    color: var(--color-grey);
    font-family: 'OTF® Glusp';
    font-weight: 700;
    font-size: 72px;
    line-height: 79px;
}

.hero__img{
    position: absolute;
    bottom: 0;
    
}

.hero__btn{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 35px;
    left: 0;
    right: 0;

    width: 124px;
    height: 124px;
    background-color: var(--color-grey);
}

.buttom__block{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.char{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 12px;
    right: 0;
    left: 0;
    transform-origin: bottom center;

    height: 50px;

    color: var(--color-white);
    font-family: 'OTF® Glusp';
    font-weight: 700;
    font-size: 8.96996px;
    line-height: 10px;

    text-transform: uppercase;
}

.char1{transform: rotate(13deg);}
.char2{transform: rotate(26deg);}
.char3{transform: rotate(39deg);}
.char4{transform: rotate(52deg);}
.char5{transform: rotate(65deg);}
.char6{transform: rotate(78deg);}
.char7{transform: rotate(91deg);}
.char8{transform: rotate(104deg);}
.char9{transform: rotate(117deg);}
.char10{transform: rotate(130deg);}
.char11{transform: rotate(143deg);}
.char12{transform: rotate(156deg);}
.char13{transform: rotate(169deg);}
.char14{transform: rotate(-13deg);}
.char15{transform: rotate(-26deg);}
.char16{transform: rotate(-39deg);}
.char17{transform: rotate(-52deg);}
.char18{transform: rotate(-65deg);}
.char19{transform: rotate(-78deg);}
.char20{transform: rotate(-91deg);}
.char21{transform: rotate(-104deg);}
.char22{transform: rotate(-117deg);}
.char23{transform: rotate(-130deg);}
.char24{transform: rotate(-143deg);}
.char25{transform: rotate(-156deg);}
.char26{transform: rotate(-169deg);}

.anim__row{
    height: 78px;
    border: var(--color-white) solid;
    border-width: 1px 0 1px 0;

    display: flex;
    align-items: center;
    gap: 100px;

    overflow: hidden;
}

.anim__title{
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    
}

.anim__title__new{
    animation: 4s infinite 2s slide_new;
}
.anim__title__our{
    animation: 4s infinite 2s slide_our;
}
.anim__title__top{
    animation: 4s infinite 2s slide_top;
}

@keyframes slide_new{
    25%{
        transform: translateX(-429px);
    }

    100%{
        transform: translateX(-429px);
    }
}

@keyframes slide_our{
    25%{
        transform: translateX(-476px);
    }

    100%{
        transform: translateX(-476px);
    }
}

@keyframes slide_top{
    25%{
        transform: translateX(-410px);
    }

    100%{
        transform: translateX(-410px);
    }
}

.aboute{}

.container__aboute{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 66px;

    background-color: var(--color-perple);
}

.aboute__kabe, .aboute__wedge{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin: 40px 0;
}

.aboute__kabe{
    margin-left: 57px;
}

.aboute__wedge{
    margin-right: 57px;
}

.aboute-wedge__desc{}


.wedge__title, .kabe__title{
    font-family: 'OTF® Glusp';
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;

    margin-bottom: 10px;
}

.kabe__prof, .wedge__prof{
    font-family: 'Monument-Ultrabold';
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;

    margin-bottom: 25px;
}

.kabe__desc, .wedge__desc{
    font-family: 'Monument-Ultrabold';
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    color: #DCDCDC;
}

.buy{}

.container__buy{
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: var(--color-yellow);
    color: var(--color-black);
}

.buy__block:last-child{
    position: relative;
    overflow: hidden;
}

.buy__block:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: var(--color-black) solid;
    border-width: 0 1px 0 0 ;
}

.buy__card{
    padding: 20px;
    margin: 39px 0;

    border: var(--color-black) solid 1px;
    border-radius: 8px;
    box-shadow: 8px 8px 0px #000000;
    background-color: #FFF89F;

    display: flex;
    flex-direction: column;
    gap: 26px;
}

.buy-buyer__card{
    display: flex;
    justify-content: space-between;
    gap: 65px;
}

.buyer__card{
    width: 200px;
    height: 56px;
    position: relative;
}

.img__buyer{
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 50%;
}

.buyer2{
    left: 50px;
}

.buyer3{
    left: 100px;
}

.buyer4{
    left: 150px;
}

.buy__time{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buy-time__title{
    font-family: 'Monument-Ultrabold';
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.08em;
}

.buy__timer{
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    text-align: right;
    letter-spacing: 0.08em;
    color: var(--color-perple);
}

.img__card{
    background-color: var(--color-black);
    border-radius: 20px 20px 20px 0;
}

.buy-img__card{
    margin-top: 40px;
}

.buy-bid__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy__bid{}

.buy-bit__title{
    font-family: 'Monument-Ultrabold';
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.08em;

    margin-bottom: 8px;
}

.buy-current__bid{
    font-family: 'Monument-Ultrabold';
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.08em;
    color: var(--color-perple);
}

.buy__btn{
    width: 211px;
    height: 41px;

    border: 1px solid var(--color-black);
    box-shadow: 4px 4px 0px var(--color-black);
    background-color: var(--color-perple);
    color: var(--color-white);

    transition: background-color 0.3s;
    transition: color 0.3s;
}

.buy__btn:hover{
    color: var(--color-black);
    background-color: var(--color-white);
}


.buy-block__desc{
    margin: 137px 0 0 47px;
}

.buy__date{
    font-family: 'Monument-Ultrabold';
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.08em;
    margin-bottom: 20px;
}

.buy_title{
    font-family: 'OTF® Glusp';
    font-weight: 700;
    font-size: 48.06px;
    line-height: 53px;

    color: var(--color-perple);
    margin-bottom: 28px;
}

.buy__owner{
    font-family: 'Monument-Ultrabold';
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.08em;
    margin-bottom: 62px;
}

.buy__desc{
    font-family: 'Monument-Ultrabold';
    font-weight: 800;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.08em;
}

.buy__nft{
    position: absolute;
    bottom: -100px;
    right: -70px;
    
    font-family: 'Monument-Ultrabold';
    font-weight: 800;
    font-size: 292.345px;
    line-height: 351px;
    letter-spacing: 0.08em;

    color: #000000;
    opacity: 0.12;
}

.footer{}

.container__footer{
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.foot__btn{
    border: var(--color-white) solid 1px;
    box-shadow: 4px 4px 0px #FFFFFF;
    padding: 12px 64px;
    color: var(--color-white);

    transition: background-color 0.3s;
}

.foot__btn:hover{
    background-color: var(--color-perple);
}


@media (max-width: 1400px) {

    .hero__title{
        font-size: 5em;
    }

    .hero__circle{
        width: 550px;
        height: 550px;
    }

    .container__aboute{
        display: grid;
        grid-template-columns: 1fr;
    }

    .aboute__wedge{
        margin-left: 57px;
    }
    
    .aboute__kabe{
        margin-right: 57px;
    }

}

@media (max-width:1150px) {

    .container__footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}